{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Registrar Activo en {{ departamento }}</h2>

    <div class="card shadow p-4">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary px-4">Guardar</button>
                <a href="{% url 'detalle_departamento' departamento=departamento %}" class="btn btn-secondary px-4">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
